    <footer class="footer">
        <div class="container ">
            <div class="col-md-4 copy">Copyright &copy; <a class="orange" href="http://hasnydes.us">Hasnydes</a> 2014</div>
            <div class="col-md-4 col-md-offset-4">
                <ul class="social ">
                    <li><a class="border-fade-fb facebook" id="facebook" href="#"><i class="fa fa-facebook"></i></a>

                    </li>
                    <li>
                        <a class="border-fade-tw twitter" id="twitter" href="#"><i class="fa fa-twitter"></i></a>

                    </li>
                    <li><a class="border-fade-gg google" id="google+" href=""><i class="fa fa-google-plus"></i></a>

                    </li>
                    <li><a class="border-fade-yb youtube" id="youtube" href=""><i class="fa fa-youtube"></i></a>

                    </li>
                    <li><a class="border-fade-gb github" id="github" href="http://github.com/abdilahrf"><i class="fa fa-github"></i></a>

                    </li>
                </ul>
            </div>
        </div>
    </footer>