    <div class="subscribe ">
        <div class="orangelay"></div>
        <div class="container subs-container">
            <div class="col-md-4 ">
                <h2>Subscribe To Get Latest News</h2>
                We Promise not send you any spam
            </div>
            <div class="col-md-8">
                <form id="form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=bost-code', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                    <input type="hidden" value="bost-code" name="uri"/>
                    <input type="hidden" name="loc" value="en_US"/>
                    <input id="subscribe" type="text" name="email" />
                    <input id="subscribe-btn" class="border-fade" type="button" name="submit" value="Subscribe Now" />
                </form>
            </div>
        </div>
    </div>