{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

            
            <!-- Start Navbar -->
            {{> "navbar"}}
            <!-- Stop Navbar -->
        
            <!-- Top Banner -->
            {{> "topbanner"}}
			<!-- End Top Banner -->
			
			<!-- Subscribe Form -->
            {{> "subscribe"}}
			<!-- End Subscribe Form -->
			
            <!-- Tag Desc -->
<div class="tag-desc">All Post By   <h3>{{author.name}}  
    {{#if author.image}}<img class="author-thumb-2" src="{{author.image}}" />{{else}}<img class="author-thumb-2" src="{{asset "img/user-image.png"}}" />{{/if}}</h3></div>
            <!-- Tag desc -->

        <!-- Main Section -->    
        <div class="container ">
            <div class="row">

                <!-- Post -->
{{> "post"}}
                <!-- Post -->

<!-- Siderbar -->
{{> "sidebar"}}

                

<a href="#" class="scrollup"><i class="fa  fa-arrow-up"></i></a>
            </div>
        </div>
        <!-- End Main Section -->