    <nav class="top-nav">
		<div class="cont-top-nav">
			<ul>
				<!-- You can change this link with your static page -->
				<li><a href="http://hasnydes.us/">Blog</a></li>
				<li><a href="http://hasnydes.com/">Contact</a></li>
				<li><a href="http://twitter.com/abdilahrf">About</a></li>
			</ul>
		</div>
	</nav>