<div class="switcher-button"><i class="icon-cog"></i></div>
		<div class="switcher-setting">
			<div class="switcher-title">Color Scheme</div>
			<div class="switcher-content">
				<ul>
					<li><a href="javascript:chooseStyle('default', 60)" class="switcher-default" title="Default"></a></li>
					<li><a href="javascript:chooseStyle('green', 60)" class="switcher-green" title="Green"></a></li>
					<li><a href="javascript:chooseStyle('red', 60)" class="switcher-red" title="Red"></a></li>
					<li><a href="javascript:chooseStyle('purple', 60)" class="switcher-purple" title="Purple"></a></li>
					<li><a href="javascript:chooseStyle('blue-ocean', 60)" class="switcher-blue-ocean" title="Blue Ocean"></a></li>
					<li><a href="javascript:chooseStyle('black', 60)" class="switcher-black" title="Black"></a></li>
					<li><a href="javascript:chooseStyle('orange', 60)" class="switcher-orange" title="Orange"></a></li>
					<li><a href="javascript:chooseStyle('blue', 60)" class="switcher-blue" title="Blue"></a></li>
					<li><a href="javascript:chooseStyle('yellow', 60)" class="switcher-yellow" title="Yellow"></a></li>
					<li><a href="javascript:chooseStyle('maroon', 60)" class="switcher-maroon" title="Maroon"></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>