{{!< default}}
<!-- Header -->
{{> header}}
<!-- End Header -->  

<!-- Content -->
<div class="container">
    <div class="col-md-8 content">
       <div class="row">
{{> singlepost}}
        </div>
    </div>
    <div class="row">
{{> sidebar}}
    </div>
</div>
<!-- End Content -->

<!-- Footer -->
{{> footer}}
<!-- End Footer -->