{{!< default}}
<!-- Header -->
{{> header}}
<!-- End Header -->  

<!-- Tag Page -->
    <div class="tag-custom">
        <p>Post with tag <a href="/tag/{{tag.name}}" >#{{tag.name}}</a></p>
    </div>
<!-- Tag Page -->
<!-- Content -->
{{> content}}
<!-- End Content -->

<!-- Footer -->
{{> footer}}
<!-- End Footer -->