            <div style="display: block;" class="sidebar-section col-md-4" id="sidebar">
                <div class="sidebar">
                    <div class="sidebar-title">
                        <h4>Facebook Page</h4>
                    </div>
                    <div class="sidebar-row row-facebook">
                        <div id="sidebar-facebook fb-root">
                            <script>
                                (function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=386043438147984";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));
                            </script>
                            <iframe id="facebook-page" src="//www.facebook.com/plugins/likebox.php?href=https://facebook.com/hasnydesign&amp;width=293&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=315&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:293px; height:250px;" allowtransparency="true"></iframe>
                        </div>
                    </div>
                </div>
                
                <div class="sidebar sidebar-tags">
                    <div class="sidebar-title">
                        <h4>Tags</h4>
                    </div>
                    <div class="sidebar-row" >
                        <div class="sidebar-tags-inner">
                            
                        </div>
                    </div>
                </div>
                <div class="sidebar sidebar-custom-img">
                    <div class="sidebar-title">
                        <h4>Custom Image</h4>
                    </div>
                    <div class="sidebar-row" >
                        <div id="sidebar-ads">
                            <a href="#">
                                    <img id="cust_img" src="#" />
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="sidebar sidebar-twitter-feed">
                    <div class="sidebar-title">
                        <h4>Twitter Feed</h4>
                    </div>
                    <div class="sidebar-row row-twitter">
                        <div>               
                            <a class="twitter-timeline" id="twitter-page" data-tweet-limit="3" data-chrome="nofooter noscrollbar">Tweets</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>          
                        </div>
                    </div>
                </div>

                <div class="sidebar sidebar-custom-text">
                    <div class="sidebar-title">
                        <h4>Custom Text</h4>
                    </div>
                    <div class="sidebar-row">
                        <div id="sidebar-text">

                        </div>
                    </div>
                </div>

            </div>

            <script type="text/javascript">
                document.getElementById('cust_img').src = custom_img;

                if(sidebar == 1 || sidebar_page == 1){
                    document.getElementById('sidebar').style.display = "block";

                }else if(sidebar == 2 || sidebar_page == 2){
                    document.getElementById('content').setAttribute('class','pull-right col-md-8');
                    document.getElementById('sidebar').setAttribute('class','pull-left col-md-4');
                }
                else if(sidebar == 0 || sidebar_page == 0){
                    document.getElementById('sidebar').style.display = "none";
                    document.getElementById('content').removeAttribute("class");
                }
            </script>