<!-- Subscribe Form -->
        <div class="subscribe">
            <form action="http://hasnydes.us3.list-manage.com/subscribe/post?u=ae7b91c40f2ce0d735032bf65&amp;id=347166f8b2" method="post" onsubmit="window.open('http://hasnydes.us3.list-manage.com/subscribe/post?u=ae7b91c40f2ce0d735032bf65&amp;id=347166f8b2', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true" target="popupwindow">
                <label>Subscribe &nbsp;&nbsp;</label><input type="email" name="MERGE0" placeholder="Email" />
                <input type="submit" name="submit" value="Submit" /> 
            </form>
        </div>
        <!-- End Subscribe Form -->