{{!< default}}

    {{> header}}
    <!-- End Header -->
     
    <div class="container post-section">
        <div class="row">
            {{> single-post}}
            <!-- End Single Post -->
            {{> sidebar}}
            <!-- End Sidebar -->
        </div>
    </div>
    <!-- End Content -->
    
    {{> subscribe}}
    <!--End Subscribe -->
              
    {{> footer}}
    <!-- End Footer -->