{{!< default}}

    {{> header}}
    <!-- End Header -->
    
     <h3>Showing Post's Under Tag : {{tags}}</h3>
    {{> content}}
    <!-- End Content -->
    
    {{> subscribe}}
    <!--End Subscribe -->
              
    {{> footer}}
    <!-- End Footer -->

